.vscode/**
build.js
*.map
**/*.map
node_modules/.bin/**
node_modules/@types/**
node_modules/@esbuild/**
node_modules/esbuild/**
node_modules/**/*.md
node_modules/**/*.markdown
node_modules/**/*.d.ts
node_modules/**/*.d.mts
node_modules/**/*.d.cts
node_modules/**/*.tsbuildinfo
node_modules/**/*.scss
node_modules/**/*.yml
node_modules/**/*.yaml
node_modules/**/*.html
node_modules/**/*.png
node_modules/**/*.gif
node_modules/**/*.svg
node_modules/**/*.ttf
node_modules/**/*.woff
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/__tests__/**
node_modules/**/docs/**
node_modules/**/doc/**
node_modules/**/examples/**
node_modules/**/.github/**
